<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
	<appSettings>
		<add key="Transformed-Key" value="From Web.Not-Used.config" xdt:Locator="Match(key)" xdt:Transform="SetAttributes(value)" />
		<add key="Release-Key" value="From Web.Not-Used.config" xdt:Transform="Insert" />
	</appSettings>
	<connectionStrings>
		<add name="Transformed-Connection-String" connectionString="From Web.Not-Used.config" xdt:Locator="Match(name)" xdt:Transform="SetAttributes(connectionString)" />
	</connectionStrings>
</configuration>