<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="Transformed-Key" value="From Web.Test.config" />
		<add key="Web-Config-Key" value="From Web.config" />
		<add key="Release-Key" value="From Web.Release.config"/>
		<add key="Test-Key" value="From Web.Test.config"/>
	</appSettings>
	<connectionStrings>
		<add name="Transformed-Connection-String" connectionString="From Web.Test.config" />
		<add name="Web-Config-Connection-String" connectionString="From Web.config" />
	</connectionStrings>
</configuration>